@charset "UTF-8";

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0 0 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    font-weight: light;
    background-color: #e6ffe6;
    color: #194d19;
    background-image: url(images/bullseye.png);
    background-attachment: fixed;
}

a:link{
    text-decoration: none;
    color: #194d19;
}

a:hover{
    text-decoration: underline;
    color: #0c4;
}

/*HEADER*/
#header-nav{
	background-color: antiquewhite;
	border-radius: 0;
	border-bottom: 5px solid #194d19; 
}

.container{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

img[src*= "images/egbaalake.jpg"]{
        /*margin-right: auto;*/
        float: left;
        width: 120px;
        height: 120px;
}

#nav-list{
	margin: 2em -62em 0 0;
}

#nav-list a{
   color: #194d19;
   font-size: 25px;
   border: 3.9px solid #194d19;
   border-radius: 7px;
   margin: 0 .2em;
}

#nav-list a:hover{
	color: #38ad38;
	border-color: #38ad38;
	text-decoration: underline;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #194d19;
}

/* Main Contents */
article{
    font-size: 32px;
    clear: left;
    margin: 0 0 0 5px;
}

p{
    margin: 1em 0 1em 0;
    text-align: center;
    font-size: 32px;
}

p a{
    margin: 0 0 0 0;
    color: #194d19;
    border: 3.9px solid #194d19;
   border-radius: 7px;
   padding: 9px 9px;
}

p a:hover{
	color: #38ad38;
	border-color: #38ad38;
	text-decoration: underline;
}

section{
    text-align: center;
}


iframe{
    width: 30em;
    height: 30em;
    border: 12px solid #194d19;
    margin: 0 0 0 0;
}

footer img{
    width: 40px;
    height: 40px;
}

footer a:hover{
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 562px) {
    body{
        margin: 0 0 0 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 100%;
        font-weight: light;
        background-color: #e6ffe6;
        color: #194d19;
        background-image: url(images/bullseye.png);
    }

    #nav-list{
	margin: 0 0 0 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#nav-list li{
	margin: 3px 0; 
	display: block;
}

    
    article{
        font-size: 19px;
        margin: 0 7px 0 5px;
    }

    p{
        margin: 3em 0 2em 0;
        text-align: center;
        font-size: 19px;
        margin: 1em;
    }

    .news{
    	width: 300px;
    	height: 200px;
    }

    audio{
        width: 250px;

    }

    h2, audio{
        margin: 0 7px 1em 5px;
    }

    iframe{
        width: 15em;
        height: 15em;
    }

    footer{
        font-size: 10px;
        margin: 0 5px 0 .1em;
    }
    
}


@media  (min-width: 563px) and (max-width:800px) {

    body{
        margin: 0 3px 0 3px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 120%;
        font-weight: light;
        background-color: #e6ffe6;
        color: #194d19;
        background-image: url(images/bullseye.png);
        background-attachment: fixed;
    }
    
    a:link{
        text-decoration: none;
        color: #194d19;
    }
    
    a:hover{
        text-decoration: underline;
        color: #0c4;
    }


    #nav-list{
	margin: 1em 0 0 0;
}
    
    .news{
    	width: 600px;
    	height: 400px;
    }
       
    }
    
    article{
        font-size: 25px;
        margin: 0 0 0 5px;
    }
    
    p{
        margin: 6em 0 0 0;
        text-align: center;
        font-size: 20px
    }
    
    audio, h2{
        margin: 0 0 0 5px;
    }
    
    iframe{
        width: 20em;
        height: 20em;
        border: 12px solid #194d19
    }
    
    footer img{
        width: 40px;
        height: 40px;
    }
    
    footer a:hover{
        text-decoration: none;
    }
    
    
} 
