@charset "UTF-8";

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0 0 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    font-weight: light;
    background-color: #e6ffe6;
    color: #194d19;
    background-image: url(images/bullseye.png);
    background-attachment: fixed;
}

a:link{
    text-decoration: none;
    color: #194d19;
}

a:hover{
    text-decoration: underline;
    color: #0c4;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}


#header-nav{
    margin: 0 0 0 0;
    padding: 0;
    background-color: antiquewhite;
    border-bottom: 5px solid #194d19;
}

.container, #collapsable-nav{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

li.logo{
    margin-right: 0; 
}

#nav-list{
    padding: .5em  0;
    margin:  0 1em;
    font-size: 1.2em;
}


#nav-list li a, p a{
    margin: 0 1em;
    color: #194d19;
    border: 3px solid #194d19;
    border-radius: 6px;
    padding: 10px;
}

#nav-list li a:hover, p a:hover{
     text-decoration: underline;
     color: #0c4;
     border-color: #0c4;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #194d19;
}

img[src*= "images/egbaalake.jpg"]{
    margin-right: auto;
    float: left;
    width: 120px;
    height: 120px;
}

.news{
    width: 15em;
    height: 10em;
}


main{
    position: relative;
    margin: 1em 1.5em;
}

img[src*= "images/DR.JPG"]{
    width: 190px;
    height: 190px;
    border: 12px solid #194d19;
    padding: 0;
    margin: 0 0 0 5px;
}

figure{
    float: right;
    margin: 0 0 0 1px;
}

figcaption{
    font-size: 20px;
}

.owner{
    font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
                  Verdana, sans-serif;
    border-bottom: 1px double #194d19;
}

article{
    font-size: 32px;
    clear: left;
    margin: 0 0 0 5px;
}

p{
    margin: 1em 0 1em 0;
    text-align: center;
    font-size: 32px;
}

p a{
    margin: 0 0 0 0;
}

section{
    text-align: center;
}


iframe{
    width: 30em;
    height: 30em;
    border: 12px solid #194d19;
    margin: 0 0 0 0;
}

footer img{
    width: 40px;
    height: 40px;
}

footer a:hover{
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 562px) {
    body{
        margin: 0 0 0 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 100%;
        font-weight: light;
        background-color: #e6ffe6;
        color: #194d19;
        background-image: url(images/bullseye.png);
    }

    #header-nav{
        margin: 0 0 0 0;
        padding: 0;
        background-color: antiquewhite;
        border-bottom: 5px solid #194d19;
    }

    #nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        display: block;
        align-items: center;
        padding: .5em  0;
        margin: 1em 0 1em 0;
        font-size: 1.2em;
    }

    #nav-list li a{
     text-align: center;
     margin: 5px 0;
    }

    img[src*= "images/egbaalake.jpg"]{
        margin-right: auto;
        width: 120px;
        height: 120px;
    }

    figure{
        float: none;
        margin: 1em 0 0 5px;
    }
    
    figcaption{
        font-size: 20px;
    }

    h1{
        margin: 21px 0 10px 0;
    }

    main{
        margin: 0 0 0 .1em;
        font-size: 5px;
    }

    button{
        margin: 0 0 0 0;
    }
    
    .owner{
        font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
                      Verdana, sans-serif;
        border-bottom: 1px double #194d19;
    }

    article{
        font-size: 19px;
        clear: left;
        margin: 0 7px 0 5px;
    }

    p{
        margin: 3em 0 2em 0;
        text-align: center;
        font-size: 19px;
        margin: 1em;
    }

    audio{
        width: 250px;

    }

    h2, audio{
        margin: 0 7px 1em 5px;
    }

    button{
        margin: 0 0 0 0;
    }

    iframe{
        width: 15em;
        height: 15em;
    }

    footer{
        font-size: 10px;
        margin: 0 5px 0 .1em;
    }
    
}


@media  (min-width: 563px) and (max-width:800px) {

    body{
        margin: 0 3px 0 3px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 120%;
        font-weight: light;
        background-color: #e6ffe6;
        color: #194d19;
        background-image: url(images/bullseye.png);
        background-attachment: fixed;
    }
    
    a:link{
        text-decoration: none;
        color: #194d19;
    }
    
    a:hover{
        text-decoration: underline;
        color: #0c4;
    }
    
    
    nav{
        margin: 0 0 0 0;
        padding: 0;
        background-color: antiquewhite;
        border-bottom: 5px solid #194d19;
        border-top: none;
    }
    
    nav ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0 .5em;
        margin: 0 0 0 0;
        font-size: 1.2em;
    }
    
    nav ul li.logo{
        margin-right: auto;
        border: none;
        display: inline;
    }
    
    nav ul li a, p a{
        margin: 0 1em;
        color: #194d19;
        border: 3px solid #194d19;
        border-radius: 6px;
        padding: 10px;
    }
    
    nav ul li a:hover, p a:hover{
         text-decoration: underline;
         color: #0c4;
         border-color: #0c4;
    }
    
    img[src*= "images/egbaalake.jpg"]{
        width: 120px;
        height: 120px;
    }
    
    
    main{
        position: relative;
        margin: 0 0 0 0;
    }
    
    img[src*= "images/DR.JPG"]{
        width: 170px;
        height: 170px;
        border: 12px solid #194d19;
        padding: 0;
        margin: 0 0 0 2px;
    }
    
    figure{
        float: right;
        margin: 0 2em 0 0;
    }
    
    figcaption{
        font-size: 17px;
    }
    
    .owner{
        font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
                      Verdana, sans-serif;
        border-bottom: 1px double #194d19;
    }
    
    article{
        font-size: 25px;
        clear: left;
        margin: 0 0 0 5px;
    }
    
    p{
        margin: 6em 0 0 0;
        text-align: center;
        font-size: 20px
    }
    
    audio, h2{
        margin: 0 0 0 5px;
    }
    
    iframe{
        width: 20em;
        height: 20em;
        border: 12px solid #194d19
    }
    
    footer img{
        width: 40px;
        height: 40px;
    }
    
    footer a:hover{
        text-decoration: none;
    }
    
    
} 
 