@charset "UTF-8";

html
{box-sizing: border-box}


body 
{
  font-family: Verdana, "Berlin Sans FB", serif ;
  font-size: 200%;
  color: #194d19;
  background-color: #e6ffe6; 
  background-image: url(images/bullseye.png); 
  margin: 2px 1.5em;
}



audio{
margin-top: -1em;
width: 300px;
}

@media (min-width: 320px) and (max-width: 562px) {

audio{
width: 500px;
}


}


